.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

*/__pycache__
T1/LALexer.py
T1/LALexer.java
T1/LALexer.tokens
T1/LALexer.interp
T1/out.txt

T2/LAGrammar.interp
T2/LAGrammar.tokens
T2/LAGrammarLexer.interp
T2/LAGrammarLexer.py
T2/LAGrammarLexer.tokens
T2/LAGrammarListener.py
T2/LAGrammarParser.py
