.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

*/__pycache__

T1/LALexer.py
T1/LALexer.java
T1/LALexer.tokens
T1/LALexer.interp
T1/out.txt

*/LAGrammar.interp
*/LAGrammar.tokens
*/LAGrammarLexer.interp
*/LAGrammarLexer.py
*/LAGrammarLexer.tokens
*/LAGrammarListener.py
*/LAGrammarParser.py
*/LAGrammarVisitor.py
